@using BlazorApp1.Libraries.Products
@using BlazorApp1.Libraries.Products.Module

@page "/"

@inject IProductServices productServices

@if (Products?.Any() ?? false)
{
	<br />
	<p style="font-family:'B Yekan';font-weight:300;font-size:20px">کالاهای امروز</p>
	<hr />
	<div class="row" style="display:flex; padding-right:60px;">
		@foreach(var pro in Products )
		{
			<ProductItem Product="pro"/>
		}
	</div>
}
@code{
	public IList<ProductModules>? Products { get; set; }

	protected override void OnInitialized()
	{
		Products = productServices.GetAll();

		base.OnInitialized();
	}
}