@page "/Cart"
@using BlazorApp1.Libraries.Products.Module
@using BlazorApp1.Libraries.ShoppingCart;
@inject IShoppingCartService _shoppingCartService

<PageTitle>سبد خرید</PageTitle>
<div class="row">
	<table class="table table-bordered table-striped" style="font-family:'B Yekan'">
		<tr>
			<th>تصویر</th>
			<th>نام</th>
			<th>تعداد</th>
			<th>قیمت</th>
			<th>جمع</th>
		</tr>
		@foreach(var item in _shoppingCartService.Get().Items)
		{
			<tr style="font-family:'B Yekan'">
				<td>
					<img src="/Images/@item.Product.ImageUrl" style="max-width:120px" class="card-img-top" alt="...">
				</td>
				<td>@item.Product.Name</td>
				<td>@item.Quantity</td>
				<td>@item.Price</td>
				<td>@item.TotalPrice</td>
				<!--<td>
					<div style="width:50px">
					<MudButton @onclick="AddToCart" Variant="Variant.Filled" Class="bg-success text-light rounded-5" style="font-weight:800;width:100%;">
					افزودن
					</MudButton>
					</div>
				</td>-->
				

			</tr>
		}
	</table>
</div>

@code{
	public ProductModules? product { get; set; }
	public int? Quantity { get; set; }

	public void AddToCart()
	{
		if (product != null)
		{
			_shoppingCartService.AddProduct(product, Quantity ?? 1);
			Quantity = null;
		}
	}
}
