<MudAppBar Class="appbar-z-top text-bg-light" Fixed="true" Elevation="10">
    <MudIcon Class="text-danger" Icon="@Icons.Material.Filled.ShoppingBasket" Size="Size.Large" />
    <a class="navbar-brand" href="#" style="font-family:'B Yekan';font-weight:800;color:crimson;font-size:30px">فروشگاه کالا</a>
    <MudSpacer />
    <NavLink class="nav-link" href="/">
        <MudIcon Class="text-dark" Icon="@Icons.Material.Filled.Home" Size="Size.Medium" />
    </NavLink>
    <NavLink class="nav-link" href="/Cart">
        <div style="padding-right:12px">
            <MudIcon Class="text-dark" Icon="@Icons.Material.Filled.ShoppingCart" Size="Size.Medium" />
        </div>
    </NavLink>
</MudAppBar>