<MudAppBar Class="text-bg-light" Fixed="false">
    <MudIcon Class="text-danger" Icon="@Icons.Material.Rounded.SmartToy" Size="Size.Large" />
    <MudLink Href="/" Class="text-danger" Underline="Underline.None" style="font-family:'B Yekan';font-weight:800;font-size:30px">روبوکالا</MudLink>
    <MudSpacer />
    <MudLink Href="/" Underline="Underline.None">
        <MudIcon Class="text-dark" Icon="@Icons.Material.Rounded.Home" Size="Size.Medium" />
    </MudLink>
    <MudLink Href="/Cart" Underline="Underline.None">
        <div style="padding-right:12px">
            <MudIcon Class="text-dark" Icon="@Icons.Material.Rounded.ShoppingCart" Size="Size.Medium" />
        </div>
    </MudLink>
</MudAppBar>