@using BlazorApp1.Libraries.Products.Module
@using BlazorApp1.Libraries.ShoppingCart

@implements IProductAddToCart
@inject IShoppingCartService _shoppingCartService

<div style="width:300px;padding-bottom:50px">
	<MudCard Class="elevation-25 bg-light rounded-4 m-10">
		<MudImage Class="rounded-top-4" Src="@($"/Images/{Product.ImageUrl}")" Height="270" />
		<MudCardContent>
			<MudText Typo="Typo.h5" Style="font-family:'B Yekan';font-weight:800;">@Product.Name</MudText>
			<MudText Class="text-success" Typo="Typo.body2" Style="font-family:'B Yekan';font-weight:800; margin-top:6px">قیمت: @Product.Price $</MudText>
		</MudCardContent>
		<MudCardActions>
		<div style="display:flex;flex-direction:column;justify-content:center;row-gap:10px;width:300px;">
			<div style="width:100%;">
					<MudButton Href="@Product.FullUrl" Variant="Variant.Filled" Class="bg-primary text-light rounded-5" style="font-family:'B Yekan';font-weight:800;width:100%">جزئیات کالا</MudButton>
			</div>
		</div>
		</MudCardActions>
	</MudCard>
</div>

@code {
	[Parameter]
	public ProductModules? Product { get; set; }
	public int? Quantity { get; set; }
}
@functions{
	public void AddToCart()
	{
		if (Product != null)
		{
			_shoppingCartService.AddProduct(Product, Quantity ?? 1);
			Quantity = null;
		}
	}
}
